body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  line {
    stroke-width: 8;
    stroke-linecap: round;
  }
  circle {
    stroke-width: 8;
    fill: none;
  }
  .player1 {
    stroke: #32BBFA;
  }
  .player2 {
    stroke: #FA7132;
  }
  .grid {
    stroke: #ddd;
  }
  #info {
    margin: 50px 50px 0 0;
    font-size: 2em;
  }